.btn-blue {
	background-color: #F07238;
	padding:15px 20px;
	border-radius: 4px;
	color: black;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.btn-blue:hover {
	background-color: #F4A460;
}